.footer {
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-text-color);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: auto;
}
.footer-container{
  display: flex;
  align-items: center;
}
           
