<footer class="footer">
  <div class="footer-container">

    <div class="footer__first-element">
      <p class="footer__text">&copy; 2024 &nbsp; &#124; &nbsp; All Rights Reserved &nbsp; &#124; &nbsp;</p>
    </div>
      <div class="footer__dev">
        <p class="footer__text">Developed</p>
      </div>
    
      <div class="footer__by">
        
        <p class="footer__text">
          &nbsp;
          <svg width="10px" height="10px" class="button-close__icon">
            <use href="./images/symbol-defs.svg#icon-heart"></use>
          </svg>
          &nbsp; by <a href="#">GoIT Students</a>
        </p>
      </div>
  </div>
</footer>