*{
    box-sizing: border-box;
}
:root{
    --primary-color: black;
    --secondary-color: aqua;
    --luminance-color: rgba(250, 251, 248, 0);
}
body{
    background-color: var(--luminance-color);
    font-family: sans-serif;
    margin: 0;
}
header{
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 1 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.logo-holder{
    display: flex;
    justify-content: center;
}
.logo{
    color: white;
    margin-right: 5px;
}
.filmo{
    margin-right: 100%;
    color: white;
}
.home{
    border: none;
    color: white;
    background-color: transparent;
    margin-right: 10px;
    margin-left: 100%;
}
.library{
    border: none;
    color: white;
    background-color: transparent;
}
.search{
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    width: 336px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid whitesmoke;
}
.search-btn{
    font-size: 16px;
    background-color: transparent;
    color: white;
    border-top: none;
    border-left: none;
}
.search:focus{
    outline: 0;
    background-color: gray;
}
.search::placeholder{
    color: whitesmoke;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.movie{
    
    width: 274px;
    height: 480px;
    background-color: var(--luminance-color);

}
.movie img{
     margin-bottom: -15px;
     border-radius: 8px;
     width: 274px;
     height: 398px;
}
.movie-info{
    display: flex;
    flex-direction: column;
}
.movie-title{
    color: black;
 padding-bottom: -10px;

}
.genre{
    color: black;
    font-size: 12px; 
    margin-top: -50px;
}
